<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sompo Sigorta Teklif Formu Sorgulama Çalışması</title>

    @await RenderSectionAsync("Css")

    @await RenderSectionAsync("Script")
</head>
<body>

    @RenderBody()

</body>
</html>