<div class="form-style-2">
    <div class="form-style-2-heading">Teklif Formu Sorgulama Ekranı</div>
    <label for="field1">
        <span>Ürün Numarası</span>
        <input type="text" class="input-field" id="urunNo" value="112" />
    </label>
    <label for="field1">
        <span>Teklif Numarası</span>
        <input type="text" class="input-field" id="teklifNo" value="200200022183057" />
    </label>
    <label for="field1">
        <span>Yenileme Numarası</span>
        <input type="text" class="input-field" id="yenilemeNo" value="0" />
    </label>
    <label for="field1">
        <span>Zeyil Numarası</span>
        <input type="text" class="input-field" id="zeyilNo" value="0" />
    </label>
    <label>
        <a class="submitBtn sendFrom" href="javascript:void(0);" id="sendRequest">Sorgula</a>
    </label>
</div>

<div class="form-style-2">
    <a class="button" asp-controller="Home" asp-action="GetAllResult">Yapılan Sorguları Görüntülemek için tıklayınız</a>
</div>