<div class="resultSide">
    <table>
        <thead>
            <tr>
                <th class="txtCen" colspan="3">Olumlu</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Kod</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody id="olumluTable"></tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th class="txtCen" colspan="3">Bilgi</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Kod</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody id="bilgiTable"></tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th class="txtCen" colspan="3">Olumsuz</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th>Kod</th>
                <th>Açıklama</th>
            </tr>
        </thead>
        <tbody id="olumsuzTable"></tbody>
    </table>
</div>